@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@300&display=swap');
*, body{
    font-family: 'Poppins', sans-serif;
}

.svgAb{
    display: inline-block;
    position: absolute;
    left: 5%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: Hind,sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #999;
    text-align: center;
    box-sizing: border-box;
  
    animation-name: header-promo-info-icon_a;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

.review-boxf{
    background-color: #f7f8fa;
}

.gcard{
    padding-top: 16px;
}
.gcard p{
    font-size: 15px;
    line-height: 21px;
    color: #666;
    padding-top: 8px;
}

.d-h1{
    max-width: 815px;
    position: relative;
    font-weight: 600;
    font-size: 34px;
    line-height: 64px;
    margin: auto;
}

.title-h1{
    font-size: 34px;
}

.title-h2{
    margin-top: 34px;
    font-weight: 600;
    font-size: 28px;
    line-height: 53px;
    
}

.title-h3{
    margin-top: 15px;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
}

.title-h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #191919;
}
.btn{
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background: #2879fe;
    box-shadow: 7px 10px 14px rgb(36 41 83 / 20%);
    border-radius: 5px;
    padding: 18px 16px;
    margin-top: 30px;
}
.btn:hover{
    box-shadow: none;
}
.gradiant-text{
    background: linear-gradient(to right,#2879fe 10%,#c928fe 76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flags{
    width: 100%;
}

.d-video{
    z-index: 1;
    max-width: 650px;
    height: 400px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: auto;
}
.review-box{
    background: #191919;
    padding: 235px 0 112px;
    overflow: hidden;
}

.d-contentvid{
    position: relative;
    top: 180px;
}

.number{
    font-weight: 600;
    font-size: 32px;
    line-height: 78px;
    background: linear-gradient(to right,#2879fe 40%,#c928fe 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img{
    width: 100%;
}
a{
    transition: .2s linear;
}
.d-list{
    margin-top: 22px;
    line-height: 32px;
}
.rose{
    background: #c928fe;
}

.green{
    background-color: #18c47c;
}

.black{
    background-color: #333;
}

.green:hover{
    background-color: #038951;
}

.rose:hover{
    background-color: #9311bd;
}



.d-list li{
    color: #666;
    font-size: 20px;
}

.review-box1{
    background: #191919;
    padding: 108px 0 112px;
    overflow: hidden;
}

.review-box2{
    background: #131313;
}
.review-boxSd{
    background-color: #15b7da;
}
.box-TexSd{
    max-width: 1000px !important;
    margin: auto;
}
.boxs{
    background: #191919;
}

.text-box{
    max-width: 620px;
    margin: auto;
}

.weglot-box {
    background: linear-gradient(10.05deg,#c928fe 11.03%,rgba(201,40,254,0) 72.12%),#182742;
    color: #fff;
    padding: 0 150px;
    overflow: hidden;
}

.svg-l{
    position: relative;
    float: right;
}

.review-boxw{
    background-color: #131313;
}

.w-card{
    background-color: #272727;
}

.w-card .text-p{
    color: #999;
}

.review-boxd{
    background: linear-gradient(360deg,#c928fe 0,#2879fe 100%);
    color: #fff;
    padding: 111px 8px;
}

.doc-text{
    max-width: 500px;
    font-size: 20px;
}

.review-boxfooter .imgf{
    width: 20%;
}


.review-box2 p{
    color: #999;
    font-size: 18px;
}
.list li{
    font-size: 18px;
    color: #999;
}
.list i{
    font-size: 10px;
    color: #f5f5f5;
}

td{
    text-align: center;
}

td, th {
    border: 1px solid #333;
    padding: 8px;
  }

  tr:nth-child(even) {
    background: #272727;
  }

  .review-boxj{
      display: none;
  }
@media screen and (min-width:1200px) {
    .container{
        max-width: 1200px !important;
    }

    .d-grid{
        max-width: 950px;
        margin: auto;
    }

    .box{
        max-width: 250px;
    }

    .number{
        font-size: 72px;
        line-height: 71px;
    }
    .btn{
        font-size: 18px;
        line-height: 24px;
        color: #fff;
    }
}

@media screen and (min-width:1024px) {
    .container{
        max-width: 1200px;
    }
    .d-imgText{
        position: absolute;
        width: 100%;
        top: 30%;
        line-height: 62px;
    }
    .title-h1{
        font-size: 64px;
        font-weight: 600;
        line-height: 74px;
    }
    .d-h1{
        font-size: 64px;
        line-height: 64px;
    }
    
    .title-h2{
        margin-top: 34px;
        font-weight: 600;
        font-size: 48px;
        line-height: 53px;
        
    }
    
    .title-h3{
        margin-top: 15px;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
    }
    
    .title-h4{
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        color: #191919;
    }

    .img{
        width: 60%;
    }
    .d-card{
        width: 40%;
    }

    .imgb{
        max-width: 750px;
        margin: auto;
    }
    .f-Text{
        width: 60%;
    }
    
}

.boxj{
    width: 100%;
    border: 1px solid #aaa;
}

.boxj ul{
    width: 100%;
}

.boxj .d-toggle{
    background-color: transparent;
    border: none;
    padding: 0;
}

.boxj button{
    width: 100%;
    padding: 18px 16px;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background-color: inherit;
}

.boxj .d-wrapper{
    border: none;
}

.boxj .d-content{
    padding: 0;
}

#basic{
    border-bottom: 3px solid #18c47c;
    color: #18c47c;
    /* background-color: #f5f5f5; */
}

.mobileView{
    max-width: 500px;
    margin: auto;
    display: none;
}

@media (max-width: 1024px){
    .overview {
        background: linear-gradient(20.83deg,#c928fe 11.03%,
        rgba(201,40,254,0) 72.12%),#182742;
        padding: 17px 0 56px;
    }
    .deskView{
        display: none;
    }
    .mobileView{
        display: block;
    }
    .d-imgText{
        width: 90%;
        margin: auto;
    }
    .d-imgText h2{
        font-size: 60px;
        line-height: 62px;
    }
    .review-boxw  a{
        font-size: 12px;
    }
}

@media screen and (max-width:800px) {
    .review-boxj{
        display: block;
    }
    .review-box1{
        display: none;
    }
    .container{
        max-width: 100%;
    }
    .d-h1{
        font-size: 40px;
        line-height: 1.2;
    }
    .title-h2{
        font-size: 28px;
        line-height: 1.1;
        margin-top: 7px;
    }

    .title-h3{
        font-size: 22px;
    }

    .title-h4{
        font-size: 20px;
    }

    .btn{
        font-size: 14px;
        padding: 16px 12px;
    }
    .d-contentvid{
        position: relative;
        top: 0;
        padding: 0 16px;
    }
    .d-video{
        height: 250px;
    }
    .weglot-box {
        padding: 0 10px;
    }
    
    .gcard p{
        font-size: 13px;
        line-height: 21px;
        text-align: center;
    }
    .gcard h3{
        font-size: 16px;
    }
    .w-card p{
        font-size: 12px;
    }
    .w-card h3{
        font-size: 14px;
        line-height: 21px;
    }
    .box-text span{
        font-size: 14px;
    }
    .box-text p{
        font-size: 14px;
    }
}

@media screen and (min-width:576px) {
    .container{
        max-width: 100%;
    }

}